/* character */

#content{width:100%; margin:0; background:rgba(0,0,0,.9);position: relative;  }
#content h2{position: absolute; top: -500px;
width: 100%; text-align: center; font-size: 4em; color: #fff;}

#content .container h3{font-size: 80px; color: #fff; width: 100%; margin: 100px 0 100px; text-align: center;}



/* 일반 pc */
@media screen and (max-width:1280px) {
	
}


/* 테블릿 */
@media screen and (max-width:1024px) {
    #content .container h3{font-size: 70px;}
}

/* 소형 테블릿 */
@media screen and (max-width:768px) {
  #content .container h3{font-size: 60px;}
}

/* 모바일 */
@media screen and (max-width:640px) {

  #content .container h3{font-size: 50px;}

}