/* 환경안전방침 본문 css */

#content .documentation {
    color: #00a650;
}

#content h4{font-size: 1.2em;}

#content button:focus,
#content input:focus,
#content textarea:focus,
#content select:focus {
  outline: none; }

#content .tabs {
  display: block;
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 0 80px 0;
  overflow: hidden; }
  #content .tabs [class^="tab"] label,
  #content .tabs [class*=" tab"] label {
    color: #333;
    cursor: pointer;
    display: block;
    font-size: 1.1em;
    font-weight: bold;
    line-height: 1em;
    padding: 2rem 0;
    text-align: center; }
    #content .tabs [class^="tab"] [type="radio"],
    #content .tabs [class*=" tab"] [type="radio"] {
    border-bottom: 1px solid #00a650;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: block;
    width: 100%;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out; }
    #content .tabs [class^="tab"] [type="radio"]:hover, .tabs [class^="tab"] [type="radio"]:focus,
    #content .tabs [class*=" tab"] [type="radio"]:hover,
    #content .tabs [class*=" tab"] [type="radio"]:focus {
      border-bottom: 1px solid #00a650; }
      #content .tabs [class^="tab"] [type="radio"]:checked,
      #content .tabs [class*=" tab"] [type="radio"]:checked {
      border-bottom: 2px solid #00a650; }
      #content .tabs [class^="tab"] [type="radio"]:checked + div,
      #content .tabs [class*=" tab"] [type="radio"]:checked + div {
      opacity: 1; }
      #content .tabs [class^="tab"] [type="radio"] + div,
      #content .tabs [class*=" tab"] [type="radio"] + div {
      display: block;
      opacity: 0;
      padding: 2rem 0;
      width: 90%;
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out; }
      #content .tabs .tab-2 {
    width: 50%; }
    #content .tabs .tab-2 [type="radio"] + div {
      width: 200%;
      margin-left: 200%; }
      #content .tabs .tab-2 [type="radio"]:checked + div {
      margin-left: 0; }
    .tabs .tab-2:last-child [type="radio"] + div {
      margin-left: 100%; }
    #content .tabs .tab-2:last-child [type="radio"]:checked + div {
      margin-left: -100%; }