/* 노동인권방침 css */

#content p{font-size: 1.2em; margin: 0 auto; text-align: justify;}

#content .contentArea{width: 94%; margin: 0 3%;}

.section-heading {
  text-align: center;
  font-size: 64px;
  color: #00a650;
  margin: 0 0 70px;
}

.container {
  display: flex;
  justify-content: center;
  width: 90%;
  max-width: 1440px;
  margin: 0 auto;
  position: relative;
  margin: 100px 0 200px 0;
  left: 5%;
}

.profile {
  position: relative;
  transition: all 0.3s;
}

.profile:hover {
  transform: translateY(25px);
}

.profile img {
  max-width: 100%;
  border-radius: 50%;
  border: 5px solid #f7f7f7;
  filter: drop-shadow(-20px 0 10px rgba(0, 0, 0, 0.1));
  cursor: pointer;
}

.profile:not(:first-child) img {
  margin-left: -20px;
}

.profile .name {
  position: absolute;
  background-color: #00a650;
  color: #fff;
  padding: 15px 30px;
  border-radius: 100px;
  bottom: -80px; left: 50%;
  white-space: nowrap;
  transform: translate(-50%, -50px);
  letter-spacing: 1px;
  font-size: 20px;
  opacity: 0;
  transition: all 0.3s;
}

.profile .name::before {
  content: "";
  position: absolute;
  width: 15px; height: 15px;
  background-color: #00a650;
  top: 0; left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}

.profile img:hover + .name {
  opacity: 1;
  transform: translateX(-50%);
  box-shadow: 0 10px 20px rgba(86, 86, 198, 0.3);
}